# Chuỗi kết nối MongoDB (Mật khẩu "hoang con" đã được mã hóa dấu cách thành %20)
MONGO_URI=mongodb+srv://hoangcon:hoangcon123@cluster0.namalqg.mongodb.net/?appName=Cluster0

# Tên Database và Bảng lưu trữ link stream
MONGO_DB_NAME=crawl_database
MONGO_COLLECTION_NAME=stream_links

# Bật tính năng tự động xóa rác ngầm của MongoDB
MONGO_ENABLE_TTL=true

# Thời gian sống của playlist (Ví dụ: 24 giờ)
MONGO_TTL_HOURS=24
